body {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: black;
}

.calculator {
    display:flex;
    flex-direction: column;
    height: 250px;
    width: 200px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
}

.screen {
    background-color: black;
    flex: 1;
    color: white;
    font-size: 72px;
    text-align: right;
    vertical-align: bottom;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}

.row1, .row2, .row3, .row4, .row5{
    display:flex;
}

.wideButton{
   width:140px;
   margin: 5px;
   border-radius: 140px;
}

.button {
    width:40px;
    margin: 5px;
    border-radius: 40px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .shake {
    animation: shake 0.5s;
    animation-iteration-count:2;
  }